<div class="container footer-container no-print" style="text-align: center;margin-bottom: 20px;">
  <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=2b5597&w=300&t=tt&d=Y7SMGkx3Jf6O1F1SyxcUC6zsKs6Q5D9siGdlTMw0B9c&co=ffffff&ct=000000&cmo=990000&cmn=ffcc00'></script>
</div>

<!-- <script type="text/javascript" src="https://counter4.optistats.ovh/private/counter.js?c=wcn51gjdes8uj215y63xn2a3ymsedx6c&down=async" async></script> -->
<!-- <br>
<noscript>
  <a href="https://www.freecounterstat.com" title="html hit counter code">
    <img src="https://counter4.optistats.ovh/private/freecounterstat.php?c=wcn51gjdes8uj215y63xn2a3ymsedx6c" border="0" title="html hit counter" alt="html hit counter">
  </a>
</noscript> -->
