<div class="container footer-container no-print" style="text-align: center;">
  <p>Website Hits </p>
  <div id="sfcwcn51gjdes8uj215y63xn2a3ymsedx6c" style="text-align: center;display: inline;"></div>  
</div>

<script type="text/javascript" src="https://counter4.optistats.ovh/private/counter.js?c=wcn51gjdes8uj215y63xn2a3ymsedx6c&down=async" async></script>
<!-- <br>
<noscript>
  <a href="https://www.freecounterstat.com" title="html hit counter code">
    <img src="https://counter4.optistats.ovh/private/freecounterstat.php?c=wcn51gjdes8uj215y63xn2a3ymsedx6c" border="0" title="html hit counter" alt="html hit counter">
  </a>
</noscript> -->