<div class="container header-container">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 header-left">
      <img class="profile-img" src="{{site.about_profile_image}}"/>

      <h1>{{ site.name | escape }}</h1>
      <h2>{{ site.title | escape }}</h2>
      <h2 href="https://www.cs.usc.edu/academic-programs/masters/artificial-intelligence/">Artificial Intelligence</h2>)
      <h2>{{ site.affiliation | escape }}</h2>
      <ul class="icons no-print">
        
        
        {%- if site.github_username -%}
          <li>
            <a target="_blank" href="https://github.com/{{ site.github_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-github" title="Github link"></i>
            </a>
          </li>
        {%- endif -%}
        
        {%- if site.linkedin_username -%}
          <li>
            <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-linkedin" title="Linkedin link"></i>
            </a>
          </li>
        {%- endif -%}
        
        
       
        {%- if site.googlescholar_username -%}
          <li>
            <a target="_blank" href="https://scholar.google.com/citations?user={{ site.googlescholar_username| escape }}" class="button button--sacnite button--round-l">
              <i class="ai ai-google-scholar-square" title="Google scholar link"></i>
            </a>
          </li>
        {%- endif -%}

      </ul>

      {%- if site.email -%}
        <p>
          {{ site.email_title | default: "Email" }}: <a href="mailto:{{ site.email }}" target="_blank">{{ site.email | escape }}</a>
        </p>
      {%- endif -%}
      {%- if site.phone -%}
        <p>
          {{ site.phone_title | default: "Phone" }}: {{ site.phone | escape }}
        </p>
      {%- endif -%}
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 header-right">
      <h3 id="{{ site.about_title | slugify | default: 'about-me' }}">{{ site.about_title | default:
        "About Me" }}</h3>
      {{ site.about_content | strip | markdownify }}
      <h3 id="Education">Education</h3>
        <div class="content">
          <h4 id="dalian-university-of-technology">
            <img src="images/DLUT.png" style="  
          width: 80px;
          height: 80px;
          margin: 0 auto;
          margin-bottom: 20px;
          display: block;
          border-radius: 40px;
          background-size: cover;
          background-position: center;
          background-repeat: repeat, no-repeat;
          float: left;">
            Dalian University of Technology
          </h4>
          <p><b>Bachelor of Engineering in Cyber Engineering</b></p>
          <p>2018 - 2022</p>
          <p><strong>GPA: 88/100</strong></p>  
        </div>

        <div class="content">
          <h4 id="university-of-southern-california">
            <img src="images/USC.png" style="  
          width: 80px;
          height: 80px;
          margin: 0 auto;
          margin-bottom: 20px;
          display: block;
          border-radius: 40px;
          background-size: cover;
          background-position: center;
          background-repeat: repeat, no-repeat;
          float: left;">
            University of Southern California
          </h4>
          <p><b>Master of Science in Computer Science</b></p>
          <p>2022 - present</p>
          <p><strong>GPA: 4.0/4.0</strong></p>  

  
        </div>
        
      


    </div>
  </div>
</div>
