{% for item in include.content %}
{% if forloop.last %}
<div class="row clearfix layout layout-{{item.layout | default: 'left'}} border-no">

{% else %}
<div class="row clearfix layout layout-{{item.layout | default: 'left'}} border-weak">

{% endif %}
      <div class="col-xs-12 col-sm-12 col-md-3 no-print" style="text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;">
        {% for img in item.image %}
          <img src="{{img}}" style="width: 300px;"/>
        {% endfor %}
        {% for video in item.video %}
        <video style="width: 300px; max-width: 100%;" autoplay loop muted playsinline>
          <source src="{{video}}" type="video/mp4" />
        </video>
        {% endfor %}
      </div>

      <div class="col-xs-12 col-sm-12 col-md-9 col-print-12 content">
        <h4 id="{{ item.title | slugify }}"><b>{{ item.title }}</b></h4>
        {%- if item.sub_title -%}<p><b>{{ item.sub_title }}</b></p>{%- endif -%}
        {%- if item.caption -%}<p>{{ item.caption }}</p>{%- endif -%}
        {{ item.description | strip | markdownify }}
        {% for link in item.links %}
        <span class="link-block">
          <a href="{{ link.url }}" class="external-link button is-rounded">
            <span class="icon">
              {% assign lower_link_name = link.name | downcase %}
              {% if lower_link_name contains "code" %}
                <i class="fab fa-github"></i>
              {% elsif lower_link_name contains "arxiv" %}
                <i class="ai ai-arxiv"></i>
              {% elsif lower_link_name contains "paper" %}
                <i class="fas fa-file-pdf"></i>
              {% else %}
                <i class="fas fa-link"></i>
              {% endif %}
            </span>
            <span>{{ link.name }}</span>
          </a>
        </span>
      {% endfor %}
      </div>

  </div>
{% endfor %}
