{% for item in include.content %}
{% if forloop.last %}
<div class="row clearfix layout layout-{{item.layout | default: 'left'}} border-no">

{% else %}
<div class="row clearfix layout layout-{{item.layout | default: 'left'}} border-weak">

{% endif %}
      <div class="col-xs-12 col-sm-12 col-md-3 no-print" style="text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;">
        {% for img in item.image %}
          <img src="{{img}}" style="width: 300px;"/>
        {% endfor %}
      </div>

      <div class="col-xs-12 col-sm-12 col-md-9 col-print-12 content">
        <h4 id="{{ item.title | slugify }}"><b>{{ item.title }}</b></h4>
        {%- if item.sub_title -%}<p><b>{{ item.sub_title }}</b></p>{%- endif -%}
        {%- if item.caption -%}<p>{{ item.caption }}</p>{%- endif -%}
        {{ item.description | strip | markdownify }}
      </div>

    
  </div>
{% endfor %}
