<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body class="{% if site.darkmode == true and site.darkmode != 'never' %}dark{% endif %}">

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      {% for section in site.content %}
        <div class="container">
          <h3 id="{{ section.title | slugify }}">{{ section.title }}
            {% if section.title == "Selected Publications" %}
            View Full Publications on Google Scholar 
            <a class="print-only" href="https://scholar.google.com/citations?user=MrWUyWkAAAAJ">
              https://scholar.google.com/citations?user=MrWUyWkAAAAJ
            </a>
            {% endif %}
          </h3>
          
          {% include {{ section.layout | prepend: "section-" | append: ".html" }} content=section.content %}
        </div>
      {% endfor %}
    </div>
  </main>

  {%- include footer.html -%}
  {% if site.darkmode == false %}
    <script src="{{ '/assets/js/index.js' | relative_url }}"></script>
  {% endif %}
</body>

</html>
